.errorDiv {
    background: #ff000057;   
    text-align: center;
    display: none;
}


header.w3-container.w3-teal {
    text-align: center;
}

.w3-container.w3-half.w3-margin-top {
    margin-left: 25%;
}


.w3-container.w3-half.w3-margin-top {
    text-align: -webkit-center;
}

button.w3-button.w3-section.w3-teal.w3-ripple {
    margin-inline: 2%;
    width: 18%;
    border-radius: 30px;
}

button.w3-button.w3-section.w3-teal.w3-ripple.actors {
    background-color: #808000!important;
    color: white!important;
}

button.w3-button.w3-section.w3-teal.w3-ripple.singin {
    background-color: #ccc!important;
    color: white !important;
}


.w3-button:hover {
    color: white !important;
    background-color: #ccc!important;
}

.gender input[type="radio"] {
    margin: 2%;
}